@using GCSideLoading.Web.Models.AccountViewModels
@model SendCodeViewModel
@{
    ViewData["Title"] = "Send Verification Code";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-login-left">
    <div class="wrap-login-left">
        <form asp-controller="Account" asp-action="SendCode" asp-route-returnurl="@Model.ReturnUrl" method="post" class="form-horizontal" role="form">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="login-left-title mb-40">
                        Send verification code<span class="login-form-icon-green-circle"></span>
                    </div>
                    <div class="login-left-desc mb-50">
                        Select Two-Factor Authentication Provider:
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="login-form-validation-summary">
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="login-form-input">
                        <label class="input-label">Provider</label>
                        <div class="input-group">
                            <select class="input" data-val="true" data-val-required="Provider is required." asp-for="SelectedProvider" asp-items="Model.Providers"></select>
                        </div>
                        <div class="field-validation-valid text-danger" data-valmsg-for="SelectedProvider" data-valmsg-replace="true"></div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <input asp-for="RememberMe" type="hidden" />
                    <div class="login-form-input mt-20">
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="login-form-input mt-20">
                        <a href="@Url.Action("Login", "Account", new { Area = "" })" class="btn-login-back">
                            Back to sign in
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
